* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-fluid {
  max-width: 1290px;
}
/* Start Header */
.header {
  background-color: #f6f2f2;
  padding-top: 29px;
}

.header__content {
  max-width: 1249px;
  height: 89px;
  background-color: #000000;
  opacity: 0.8;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 89px;
  width: 107px;
  transition: all 0.3s;
}

.header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

.header nav ul li a {
  color: #e0e0e0;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.49px;
  margin-right: 31px;
}

.header nav ul li:hover a {
  background-color: red;
  text-decoration: none;
}

.burger {
	display: none;
	margin-right: 15px;
}
.burger span:nth-child(1).scrolled,
.burger span:nth-child(2).scrolled,
.burger span:nth-child(3).scrolled  {
	background-color: black;
}

.burger span:nth-child(1),
.burger span:nth-child(3) {
	display: block;
	background-color: #fff;
	width: 22px;
	height: 1px;
	margin: 5px auto;
	transition: all 0.8s;
}

.burger span:nth-child(2) {
	display: block;
	background-color: #fff;
	width: 32px;
	height: 1px;
	margin: 5px auto;
}

.burger:hover span:nth-child(1),
.burger:hover span:nth-child(3){
	width: 32px;
}

.burger__navigation_menu {
  position: fixed;
  background-color: #323131;
  opacity: 0;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
  transform: translateY(-200%);
	transition: all 0.5s;
}

.burger__navigation_menu.open {
  transform: translateY(0);
  opacity: 1;
	
}

.burger__navigation_menu.close {
	transform: translateY(-100%);
	display: none;
}

.burger__navigation_menu__closeBtn {
	width: 300px;
	height: 300px;
	background-color: #ffffff;
	border-radius: 50%;
	position: fixed;
	left: 80%;
	bottom:83%;
}

.burger__navigation_menu__closeBtn .burgerClose {
	color: #f42c2d;
	font-size: 40px;
	position: absolute;
	bottom: 17%;
	left: 19%;
}

.navigation {
  border: 1px solid #ff0000;
  background-color: #ffffff;
  border-radius: 5px;
  color: #ff0000;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 34.06px;
  letter-spacing: 0.32px;
  margin: 6px 60px;
  padding: 11px;
}
@media screen and (max-width: 575px) {
  .header {
    padding-top: 0;
  }
  .burger {
    display: inline-block;
  }
  .header__content {
    height: 50px;
    justify-content: flex-end;
  }
  .header__item {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .burger__navigation_menu__closeBtn .burgerClose {
	  left: 15%;
  }
}
@media screen and (max-width: 400px) {
  .burger__navigation_menu__closeBtn .burgerClose {
	  left: 10%;
  }
  .burger__navigation_menu__closeBtn {
    left: 79%;
    bottom: 84%;
  }
} 
/* End Header */


/* Start Hero Section */
#hero {
  min-height: 572px;
  background-color: #f6f2f2;
  display: flex;
  justify-content: center;
}

.hero__content {
  margin-top: 94px;
}

.main__info h1 {
  color: #000000;
  font-family: "Open Sans";
  font-size: 60px;
  font-weight: 800;
  line-height: 72px;
  text-transform: uppercase;
}

.main__info h1 span:nth-child(1) {
  letter-spacing: 1.5px;
}

.main__info h1 span:nth-child(2) {
  letter-spacing: 6px;
}

.main__info p {
  max-width: 512px;
  opacity: 0.5;
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 17px;
}

.main__info a {
  display: block;
  padding-top: 10px;
  margin-top: 54px;
  width: 227px;
  height: 55px;
  border: 2px solid #ff0000;
  background-color: #ff2d2d;
  text-align: center;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 34.06px;
  letter-spacing: 0.32px;
  transition: all 0.3s;
}

.main__info a:hover {
  background-color: #ffffff;
  color: #ff2d2d;
  text-decoration: none;
}

.main__video {
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-shadow: -2px -14px 73px rgba(0, 0, 0, 0.29);
  background-color: #ff2222;
}

.main__video img {
  width: 100%;
  margin: 0 auto;
}

.main__video__icon {
  position: absolute;
  top: 33%;
  left: 47%;
}

.main__video__icon a {
  font-size: 75px;
  color: #ffffff;
  transition: all 0.3s;
}

.main__video__icon a:hover {
  color: #ff0000;
}

@media screen and (max-width: 992px) {
  .hero__content {
    margin-top: 35px;
  }
  .main__info {
    margin-bottom: 45px;
  }
}
@media screen and (max-width: 767px) {
  .main__info h1 {
    line-height: 55px;
    font-size: 37px;
  }
}
@media screen and (max-width: 575px) {
  .main__info h1 {
    line-height: 35px;
    font-size: 25px;
  }
}
/* End Hero Section */


/* Start Provide Section */
#provide {
  margin-top: 100px;
}

#provide:after {
  content: "";
  display: block;
  margin: 67px auto 0;
  max-width: 1249px;
  height: 2px;
  background-color: #ececec;
}

.provide__title h1 {
  color: #000000;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 700;
  line-height: 55px;
  text-transform: uppercase;
  letter-spacing: 0.42px;
  opacity: 0.8;
  margin-bottom: 35px;
}

.provide__title p {
  max-width: 81%;
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.8;
}

.provide__title a {
  border-radius: 5px;
  border: 2px solid #ff0000;
  display: block;
  padding-top: 8px;
  margin-top: 52px;
  width: 227px;
  height: 55px;
  background-color: #ffffff;
  text-align: center;
  color: #ff2d2d;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 34.06px;
  letter-spacing: 0.32px;
  transition: all 0.3s;
}

.provide__title a:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #ff2d2d;
}

.provide__info__img {
  margin-top: 35px;
}

.provide__info h2 {
  opacity: 0.7;
  color: #000000;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.27px;
  margin-top: 32px;
}

.provide__info p {
  opacity: 0.7;
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

@media screen and (max-width: 992px) {
  .provide__info {
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .provide__info h2{
    margin-top: 17px;
  }
}
@media screen and (max-width: 575px) {
  .provide__title h1 {
    font-size: 30px;
    line-height: 45px;
  }
}
/* End Provide Section */

/* Start Feature Section */
#feature {
  text-align: center;
  margin-top: 95px;
}

.feature__title h1 {
  margin-bottom: 20px;
  opacity: 0.8;
  color: #000000;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.38px;
}

.feature__title p {
  opacity: 0.7;
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.feature__title p:after {
  content: "";
  display: block;
  width: 132px;
  height: 2px;
  background-color: #ff2d2d;
  margin: 52px auto 0;
}

.feature__filters {
  margin: 65px 0 47px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature__filters .filters__content {
  opacity: 0.7;
  color: #000000;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.22px;
  transition: all 0.3s;
  cursor: pointer;
}

.feature__filters .filters__content:hover {
  color: #ff2d2d;
}

.feature__filters .filters__content:nth-child(1) {
  margin-left: 46px;
  margin-right: 59px;
}
.feature__filters .filters__content:nth-child(2) {
  margin-right: 57px;
}
.feature__filters .filters__content:nth-child(3) {
  margin-right: 57px;
}
.feature__filters .filters__content:nth-child(4) {
  margin-right: 58px;
}

.feature__img {
  margin-bottom: 20px;
}

.feature__img img {
  width: 100%;
}
@media screen and (max-width: 992px) {
  .feature__filters .filters__content {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  .feature__filters .filters__content:nth-child(1) {
    margin-left: 15px;
    margin-right: 15px;
  }
  .feature__filters .filters__content:nth-child(2) {
    margin-right: 15px;
  }
  .feature__filters .filters__content:nth-child(3) {
    margin-right: 15px;
  }
  .feature__filters .filters__content:nth-child(4) {
    margin-right: 15px;
  }
}
@media screen and (max-width: 575px) {
  #feature {
    margin-top: 60px;
  }
  .feature__filters {
    margin: 35px 0 27px 0;
  }
  .feature__filters .filters__content {
    font-size: 12px;
    line-height: 15px;
  }
  .feature__title h1 {
    font-size: 27px;
  }
  .feature__title p {
    font-size: 14px;
  }
  .feature__title p:after {
    margin: 35px auto 0;
  }
}
/* End Feature Section */


/* Start Team Section */
#team {
  margin-top: 118px;
}

.team__title h1 {
  opacity: 0.8;
  color: #000000;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.38px;
}

.team__title p {
  max-width: 37%;
  margin-top: 25px;
  margin-left: 8px;
  opacity: 0.7;
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.team__title p:after {
  content: "";
  display: block;
  width: 132px;
  height: 2px;
  background-color: #ff2d2d;
  margin: 29px 0px 70px 0;
}

.team__member__title {
  margin: 0 0 49px 11px;
}

.team__member__title h1 {
  opacity: 0.7;
  color: #000000;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.28px;
  margin-top: 8px;
}

.team__member__title p {
  opacity: 0.6;
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  max-width: 75%;
  margin: 22px 0 35px 0;
}

.team__social {
  display: flex;
}

.team__social__content a {
  opacity: 0.8;
  color: #000000;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.9px;
  text-transform: capitalize;
  margin-right: 19px;
  cursor: pointer;
  transition: all 0.3s;
}

.team__social__content a:hover {
  text-decoration: none;
  color: #ff2d2d;
}

.team__members img {
  width: 100%;
}
@media screen and (max-width: 1140px) {
  .main__image img {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .team__member__title {
    margin-bottom: 14px;
  }
}
@media screen and (max-width: 767px) {
  .team__title,
  .team__member__title {
    text-align: center;
  }
  .team__title p,
  .team__member__title p {
    max-width: 100%;
  }
  .team__title p:after {
    margin: 29px auto 40px;
  }
  .main__image {
    display: none;
  }
  .team__social {
    justify-content: center;
  }

}
@media screen and (max-width: 575px) {
  #team {
    margin-top: 80px;
  }
  .team__title h1 {
    font-size: 29px;
  }
  .team__title p {
    font-size: 16px;
  }
  .team__social__content a {
    font-size: 15px;
    margin-right: 13px;
  }
  .team__member__title h1 {
    font-size: 25px;
  }
  .team__member__title p {
    font-size: 15px;
  }
}
/* End Team Section */


/* Start Mail Section */
.mail__container {
  min-height: 510px;
  margin-top: 123px;
  padding-top: 134px;
  text-align: center;
  background-color: wheat;
}

.mail__title h1 {
  opacity: 0.8;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 1.05px;
  margin-bottom: 40px;
}

.mail__title p {
  opacity: 0.8;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.mail__submit {
  margin-top: 43px
}

.mail__submit input {
  width: 521px;
  height: 79px;
  border-radius: 5px;
  border: 1px solid white;
  padding-left: 31px;
  outline: none;
}

.mail__submit a {
  border-radius: 5px;
  display: inline-block;
  padding: 20px 57px;
  margin-left: 20px;
  background-color: #ff0000;
  border: 2px solid #ff3b3b;
  text-align: center;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 34.06px;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  transition: all 0.3s;
}

.mail__submit a:hover {
  text-decoration: none;
  color: #ff0000;
  background-color: #ffffff;
  border: 2px solid #ff3b3b;
}

@media screen and (max-width: 767px) {
  .mail__container {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .mail__submit {
    margin-top: 40px;
  }
  .mail__submit a {
    margin-top: 30px;
  }
}
@media screen and (max-width: 575px) {
  .mail__title h1 {
    font-size: 30px;
  }
  .mail__submit input {
    width: 310px;
  }
  .mail__container {
    margin-top: 56px;
  }
}
/* End Mail Section */


/* Start Contact Section */
#contact {
  margin-top: 96px;
}

.contact__title h1 {
  opacity: 0.8;
  color: #000000;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.38px;
  margin-bottom: 37px;
}

.contact__title p {
  opacity: 0.7;
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.contact__title p:after {
  content: "";
  display: block;
  width: 132px;
  height: 2px;
  background-color: #ff2d2d;
  margin: 49px 0px 70px 0;
}

.contact__form {
  margin-top: 7px;
}

.contact__form input {
  outline: none;
  width: 100%;
  height: 69px;
  border-radius: 10px;
  background-color: lightgrey;
  border: 1px solid lightgrey;
  padding-left: 55px;
}

.contact__form input[type="text"]::placeholder {
  opacity: 0.5;
  color: #000000;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.contact__form textarea {
  font-family: "Open Sans";
  font-size: 16px;
  margin: 45px 0;
  display: block;
  width: 100%;
  padding: 13px;
  border: 1px solid #ced4da;
  background-color: lightgrey;
  border-radius: 8px;
  outline: none;
  padding: 30px 0 169px 48px;
}

.contact #button {
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #ff3b3b;
  color: #ffffff;
  background-color: #ff3b3b;
  padding: 18px 35px;
  margin: 0px auto;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 34.06px;
  text-transform: uppercase;
  letter-spacing: 0.32px;
  transition: all 0.3s;
  outline: none;
}

.contact #button:hover {
  border: 2px solid #ff3b3b;
  color: #ff3b3b;
  background-color: #ffffff;
}

.contact__info__wrapper {
  margin-left: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  padding: 30px;
  /* width: 100%; */
  height: 481px;
  background-color: #2d2d2d;
}

.contact__info h2 {
  opacity: 0.9;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 34.06px;
  text-transform: uppercase;
  letter-spacing: 0.32px;
}

.contact__info p:nth-child(2) {
  max-width: 98%;
}

.contact__info p {
  margin: 21px 0 0px 0;
  opacity: 0.9;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
@media screen and (max-width: 992px) {
  .contact__info__wrapper {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
    height: 281px;
  }
}
@media screen and (max-width: 767px) {
  .contact__form input {
    margin-bottom: 30px;
  }
  .contact__form textarea {
    margin-top: 0;
    padding: 30px 0 90px 48px;
  }
}
@media screen and (max-width: 575px) {  
  #contact {
    margin-top: 56px;
  }
  .contact__title h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .contact__title p {
    font-size: 14px;
  }
  .contact__title p:after {
    margin: 29px 0px 40px 0;
  }
  .contact__form input[type="text"]::placeholder {
    font-size: 16px;
  }
}
/* End Contact Section */


/* Start Footer */
.footer {
  margin-top: 110px;
}

.footer__contaier {
  display: flex;
  align-items: center;
  width: 100%;
  height: 111px;
  background-color: #313030;
}

.footer__info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 17px;
  padding: 0 10px;
}

.footer__info p {
  color: #b8b8b8;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 10px;
  margin: 0;
}

.footer__info ul {
  display: flex;
  list-style: none;
  margin: 0;
}

.footer__info ul li {
  margin-right: 15px;
}

.footer__info ul li a {
  color: black;
  display: block;
  cursor: pointer;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  background-color: #ffffff;
  position: relative;
  transition: all 0.3s;
}

.footer__info ul li a:hover {
  background-color: #000000;
}

.footer__info ul li a:hover i {
  color: #ffffff;
}

.footer__info ul li a i {
  position: absolute;
  top: 23%;
  left: 23%;
  font-size: 18px;
  transition: all 0.3s;
}
@media screen and (max-width: 575px) {
  .footer__info p {
    font-size: 13px;
  }
  .footer__info ul li a {
    width: 27px;
    height: 27px;
  }
  .footer__info ul li a i{
    font-size: 15px;
  }
}
/* End Footer */
